// 公共类 start
.displaynone {
    display: none !important;
}

.relative {
    position: relative;
}

.o_main {
    background-color: #f5f5f5;
}

.color2283e2 {
    color: #2283e2 !important;
}

// 单行文本显示
.limit1{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
// 定义两行内容限制，多的省略号显示
.limit2 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// 定义三行内容限制，多的省略号显示
.limit3 {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

// 声明字体,测试用
@font-face {
    font-family: '喵喵体';
    /* format("truetype")是根据每一个的文件类型类判断的 */
    src: url(./fonts/DFPShaoNvW5-GB.ttf) format("truetype");
}

// *{
//     font-family:'喵喵体' !important;
// }
// 和设计图一个字体
*{
    font-family: PingFang-SC-Regular !important;
}
// 公共类 end
// 主页 start
// 头部 start
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    background-color: #fff;
    .headerbox {
        padding: 3.73vw 3.72vw;
        .title {
            position: relative;
            font-size: 4.53vw;
            line-height: 4.4vw;
            height: 4.4vw;
            text-align: center;
            color: #333333;
            letter-spacing: 0vw;
            img {
                position: absolute;
                top: 50%;
                left: 0.13vw;
                transform: translateY(-50%);
                height: 3.47vw;
                width: 2.53vw;
            }
        }
    }
}

// 头部 end
// 搜索栏 start
.o_search {
    width: 100%;
    padding: 1.73vw 3.2vw;
    background-color: #fff;
    .input_box {
        box-sizing: border-box;
        position: relative;
        input {
            box-sizing: border-box;
            width: 100%;
            height: 8.53vw;
            border-radius: 4.27vw;
            background-color: #f5f5f5;
            border: none;
            padding-left: 3vw;
        }
        .searchbox {
            box-sizing: border-box;
            background-color: #f5f5f5;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: auto;
            font-size: 4vw;
            color: #bbbbbb;
            text-align: center;
            img {
                width: 3.2vw;
                height: 3.2vw;
                margin-right: 2vw;
            }
        }
    }
}

// 搜索栏 end
// banner start
.banner {
    height: auto;
    box-sizing: border-box;
    margin: 3.2vw 3.33vw 3.2vw 3.07vw;
    .showbox {
        width: 100%;
    }
    ul li {
        img {
            width: 100%;
            height: 31.2vw;
        }
    }
    .pager {
        box-sizing: border-box;
        position: absolute;
        bottom: 2.13vw;
        width: 100%;
        text-align: center;
    }
    /*需要分页自定义css*/
    .pager li {
        width: 1.33vw;
        height: 1.33vw;
        display: inline-block;
        margin: 0.8vw;
        border-radius: 50%;
        background: white;
        vertical-align: top
    }
    .pager li.cur {
        width: 2.67vw;
        height: 1.33vw;
        border-radius: 0.67vw;
    }
}

// banner end
// 多功能分类 start
.o_allclass {
    width: 100%;
    box-sizing: border-box;
    padding: 2.4vw 6.13vw 3.2vw 6.13vw;
    .class_box {
        display: flex;
        justify-content: space-between;
        li {
            text-align: center;
            img {
                width: 10.67vw;
                height: 10.67vw;
            }
            p {
                margin-top: 2.13vw;
                line-height: 3.6vw;
                font-size: 3.2vw;
                color: #333333;
            }
        }
    }
}

// 多功能分类 end
// 海尔头条 start
.o_toutiao {
    width: 100%;
    box-sizing: border-box;
    padding: 3.2vw 3.07vw 3.2vw 3.33vw;
    .content {
        background-color: #fff;
        border-radius: 2.67vw;
        padding: 4.8vw 3.07vw 5.33vw 3.2vw;
        .toutiao_title {
            display: flex;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5.6vw;
            span {
                font-size: 4.53vw;
                height: 4.4vw;
                color: #333333;
            }
            a {
                span {
                    font-size: 4vw;
                    height: 3.73vw;
                    color: #999999;
                }
                img {
                    margin-left: 1.6vw;
                    width: 1.33vw;
                    height: 2.13vw;
                }
            }
        }
        .toutiao_bottom {
            display: flex;
            justify-content: space-between;
            .bottom_left {
                p {
                    font-size: 4vw;
                    line-height: 5.6vw;
                    letter-spacing: 0vw;
                    color: #333333;
                }
                .chakan_dianzan_box {
                    padding-top: 5.33vw;
                    .chakan_dianzan_box_item {
                        display: inline-block;
                        margin-right: 2.4vw;
                        img {
                            width: 4.4vw;
                            height: 2.53vw;
                            padding-right: 1.47vw;
                        }
                        span {
                            color: #999999;
                            line-height: 3.6vw;
                            font-size: 2.93vw;
                        }
                    }
                    .dianzan {
                        img {
                            width: 4vw;
                            height: 3.6vw;
                        }
                    }
                }
            }
            .bottom_right {
                padding-left: 7.07vw;
                img {
                    width: 28.53vw;
                    height: 19.2vw;
                    border-radius: 1.33vw;
                }
            }
        }
    }
}

// 海尔头条 end
// 精选内容 start
#wrapper {
    position: absolute;
    top: 24vw;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

#wrapper2 {
    position: absolute;
    top: 13.5vw;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12.5vw;
}

#pullDown {
    padding: 10.67vw 0 4.93vw 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    span {
        display: block;
        text-align: center;
        color: #333333;
        font-size: 2.67vw;
        height: 2.67vw;
        padding-top: 3.07vw;
    }
    img {
        width: 9.73vw;
        height: 5.47vw;
    }
}

#pullUp {
    padding: 0;
    span {
        box-sizing: border-box;
        display: block;
        text-align: center;
        color: #333333;
        font-size: 3.2vw;
        height: auto;
    }
}

.o_jingxuan {
    width: 100%;
    padding: 0 3.2vw 2.2vw 3.2vw;
    box-sizing: border-box;
    .content {
        border-radius: 2.67vw;
        padding: 0 3.33vw 0 3.07vw;
        background-color: #fff;
        .jingxuan_title {
            font-size: 4.53vw;
            height: 4.4vw;
            color: #333333;
            margin-left: -0.14vw;
            padding-top: 4.8vw;
            padding-bottom: 2.53vw;
        }
        .jingxuan_list {
            .jingxuan_item {
                padding-top: 3.2vw;
                padding-bottom: 3.73vw;
                border-bottom: solid 1px #eeeeee;
                .item_title {
                    padding-bottom: 3.2vw;
                    .img_box {
                        border-radius: 50%;
                        width: 8.53vw;
                        height: 8.53vw;
                        display: inline-block;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    span {
                        margin-left: 3.47vw;
                        display: inline-block;
                        font-size: 4vw;
                        line-height: 3.6vw;
                        color: #000000;
                        height: 3.87vw;
                    }
                }
                .item_content {
                    box-sizing: border-box;
                    .content_right {
                        margin-left: 3.2vw;
                    }
                    img {
                        width: 87.2vw;
                        height: 48.53vw;
                        border-radius: 2.67vw;
                    }
                    .type1p {
                        color: #333333;
                        line-height: 3.6vw;
                        font-size: 4vw;
                        height: 3.87vw;
                        padding-top: 4.13vw;
                        padding-bottom: 5.6vw;
                    }
                }
                .item_content.contentflex {
                    padding-top: 0.67vw;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 6.4vw;
                    .content_right img {
                        width: 32vw;
                        height: 24vw;
                        border-radius: 2.67vw;
                    }
                    .content_title {
                        font-size: 4vw;
                        line-height: 5.6vw;
                        height: 9.47vw;
                        color: #333333;
                        margin-bottom: 5.87vw;
                    }
                    .content_content {
                        height: 7.73vw;
                        font-size: 3.2vw;
                        line-height: 4.53vw;
                        color: #666666;
                    }
                }
                .item_content.p_content {
                    padding-top: 0.93vw;
                    .p_content_title {
                        height: 3.87vw;
                        font-size: 4vw;
                        line-height: 3.6vw;
                        color: #333333;
                    }
                    .p_content_content_box {
                        border-radius: 2.67vw;
                        background-color: #f5f5f5;
                        padding: 4vw 4.27vw 3.6vw 4.13vw;
                        margin: 4.13vw 0;
                        .p_content_content {
                            height: 8.4vw;
                            font-size: 3.47vw;
                            line-height: 4.8vw;
                            color: #333333;
                        }
                    }
                }
                .item_bottom {
                    .guanjianzi_pinglun_box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.8vw 0 0 0;
                        .guanjianzi {
                            .guanjian {
                                line-height: 3.6vw;
                                font-size: 2.93vw;
                                height: 2.93vw;
                                font-size: 2.93vw;
                                border-radius: 0.8vw;
                            }
                            .first_guanjianzi {
                                color: #2283e2;
                                border: solid 0.13vw #2283e2;
                                padding: 0.67vw 1.47vw;
                                margin-right: 3.2vw;
                            }
                            .second_guanjianzi {
                                color: #f5a623;
                                height: 2.8vw;
                                border: solid 0.13vw #f5a623;
                                padding: 0.8vw 1.2vw;
                            }
                        }
                        .pinglun_dianzan {
                            .pinglun_dianzan_item {
                                display: inline-block;
                                font-size: 0 !important;
                                padding-left: 2.27vw;
                                img {
                                    width: 4.13vw;
                                    height: 3.47vw;
                                }
                                span {
                                    font-size: 2.93vw;
                                    color: #999999;
                                    line-height: 3.6vw;
                                    height: 2.27vw;
                                    padding-left: 1.6vw;
                                }
                                .dianzan_box {
                                    img {
                                        width: 4vw;
                                        height: 3.6vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 精选内容 end
// 主页 end
// 分页 start
// 分页头部 start
.fenyeheader {
    width: 100%;
    .headerbox {
        padding: 3.73vw 3.72vw;
        background-color: #fff;
        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .fenyegoback {
                left: 0.13vw;
                height: 3.47vw;
                width: 2.53vw;
            }
            .fenyeshare {
                width: 5.47vw;
                height: 5.73vw;
            }
            span {
                font-size: 4.53vw;
                color: #333333;
            }
        }
    }
}

// 分页头部 end
.wanzhuan {
    width: 100%;
    box-sizing: border-box;
    padding: 3.2vw 3.2vw 0 3.2vw;
    .head {
        padding: 4.13vw 3.2vw 5.07vw 3.2vw;
        background-color: #fff;
        border-radius: 2.67vw;
        .title {
            height: 4.67vw;
            font-size: 4.53vw;
            line-height: 3.6vw;
            color: #333333;
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 4.67vw;
            .bottom_left {
                display: flex;
                justify-content: space-between;
                width: auto;
                align-items: center;
                img {
                    width: 8.67vw;
                    height: 8.53vw;
                    border-radius: 50%;
                    margin-right: 3.2vw;
                }
                .name {
                    height: 3.87vw;
                    font-size: 4vw;
                    line-height: 3.6vw;
                    color: #000000;
                    padding-bottom: 2.67vw;
                }
                .time {
                    height: 2vw;
                    font-size: 2.67vw;
                    line-height: 3.6vw;
                    color: #999999;
                }
            }
            .bottom_right {
                .guanzhu {
                    display: inline-block;
                    padding: 1.6vw 4.4vw;
                    height: 3.33vw;
                    font-size: 3.47vw;
                    line-height: 3.6vw;
                    color: #2283e2;
                    border-radius: 1.6vw;
                    border: solid 0.13vw #2283e2;
                }
            }
        }
    }
    .content_bottom {
        margin-top: 3.2vw;
        margin-bottom: 3.2vw;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 2.67vw;
    }
    .content {
        padding: 4.13vw 3.33vw 0 3.2vw;
        .describe {
            height: 20.67vw;
            font-size: 4vw;
            line-height: 5.6vw;
            color: #666666;
            padding-bottom: 3.07vw;
        }
        .img_box img {
            width: 87.2vw;
            height: 48.53vw;
            border-radius: 2.67vw;
        }
    }
    .wanzhuan_bottom {
        padding-left: 3.2vw;
        padding-right: 3.2vw;
    }
    .guanjianzi_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5.87vw 0;
        .guanjian {
            height: 2.8vw;
            font-size: 2.93vw;
            padding: 0.8vw 0;
            line-height: 3.6vw;
            border-radius: 0.8vw;
        }
        .first_guanjianzi {
            color: #2283e2;
            padding-left: 1.47vw;
            padding-right: 1.47vw;
            border: solid 0.13vw #2283e2;
            margin-right: 3.2vw;
        }
        .second_guanjianzi {
            color: #f5a623;
            padding-right: 1.33vw;
            padding-left: 1.33vw;
            border: solid 0.13vw #f5a623;
        }
        img {
            width: 4.4vw;
            height: 2.53vw;
            margin-right: 1.47vw;
        }
        span {
            height: 2.27vw;
            font-size: 2.93vw;
            line-height: 3.6vw;
            color: #999999;
        }
    }
}

.reply {
    box-sizing: border-box;
    padding: 0 3.33vw 2.2vw 3.07vw;
    .content {
        box-sizing: border-box;
        padding: 0 3.2vw 2.2vw 3.2vw;
        background-color: #fff;
        border-radius: 2.67vw;
        .reply_title {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .hot {
                padding: 4.13vw 0 2.93vw 0;
                height: 3.73vw;
                font-size: 4vw;
                position: relative;
            }
            .all {
                padding: 4.13vw 0 2.93vw 0;
                height: 3.73vw;
                position: relative;
                font-size: 4vw;
                color: #333333;
            }
            .hengxian {
                position: absolute;
                bottom: -0.8vw;
                left: 50%;
                transform: translateX(-50%);
                width: 6.4vw;
                height: 0.8vw;
                background-color: #2283e2;
            }
        }
        .reply_center {
            min-height: 74.79vw;
            box-sizing: border-box;
            position: relative;
            padding: 3.2vw 0 0 0;
            .empty_content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                img {
                    width: 16vw;
                    height: 16vw;
                }
                p {
                    padding-top: 4.8vw;
                    height: 3.73vw;
                    font-size: 4vw;
                    line-height: 2.05vw;
                    color: #999999;
                }
            }
            .reply_list .list_item {
                display: flex;
                padding: 3.2vw 0 2.2vw 0;
                border-bottom: 1px solid #eeeeee;
                box-sizing: border-box;
                .user_avatar {
                    margin-right: 2.5vw;
                    img {
                        width: 8.53vw;
                        height: 8.53vw;
                        border-radius: 50%;
                    }
                }
                .reply_details {
                    width: 100%;
                    .username {
                        height: 3.87vw;
                        font-size: 4vw;
                        line-height: 3.6vw;
                        color: #000000;
                    }
                    .user_content {
                        padding: 1.4vw 0;
                        font-size: 3.2vw;
                        line-height: 4.53vw;
                        color: #666666;
                    }
                    .other {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .reply_time {
                            height: 2.27vw;
                            font-size: 2.93vw;
                            line-height: 3.6vw;
                            color: #999999;
                        }
                        .share_reply_dianzan {
                            img {
                                padding: 0 1.5vw;
                            }
                            .shareicon {
                                width: 4.13vw;
                                height: 3.47vw;
                            }
                            .pinglunicon {
                                width: 4.13vw;
                                height: 3.47vw;
                            }
                            .dianzanicon {
                                width: 4vw;
                                height: 3.6vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 遮罩 start
.zhezhao_div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

// 遮罩 end
// 输入文字 start
.input_text_box {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    .title {
        display: flex;
        border-bottom: solid 1px #eeeeee;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        .determine {
            height: 3.73vw;
            font-size: 4vw;
            line-height: 4vw;
            padding: 3.73vw 3.07vw;
            color: #2283e2;
        }
        .cancel {
            height: 3.87vw;
            font-size: 4vw;
            padding: 3.73vw 2.53vw;
            line-height: 4.28vw;
            color: #000000;
        }
    }
    .textarea_box {
        width: 100%;
        box-sizing: border-box;
        padding: 5.87vw 6.8vw 6.13vw;
        border-bottom: solid 1px #eeeeee;
        textarea {
            width: 100%;
            border: none;
            font-size: 3.73vw;
            color: #bbbbbb;
        }
    }
}

// 输入文字 end
// 分页中部 end
// 分页尾部 start
.fenyefooter {
    padding: 2.27vw 3.2vw;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    .content {
        background-color: #fff;
        border-radius: 2.67vw;
        padding-right: 3.2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pinglunnow {
            position: relative;
            input {
                width: 46.67vw;
                border: none;
                height: 8.53vw;
                background-color: #f5f5f5;
                border-radius: 3.47vw;
                padding-left: 3vw;
            }
            .reply_detail {
                position: absolute;
                top: 50%;
                left: 3.33vw;
                transform: translateY(-50%);
                img {
                    width: 4.13vw;
                    height: 3.3vw;
                    padding-right: 2.67vw;
                }
                span {
                    height: 3.6vw;
                    font-size: 3.73vw;
                    line-height: 3.6vw;
                    color: #999999;
                }
            }
        }
        .pinglundianzai {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                height: 2.93vw;
                font-size: 3.73vw;
                line-height: 3.6vw;
                color: #333333;
                padding-left: 2.67vw;
            }
            .pinglun_box {
                img {
                    width: 5.6vw;
                    height: 4.53vw;
                }
            }
            .dianzan_box {
                padding-left: 3.6vw;
                img {
                    width: 5.87vw;
                    height: 5.07vw;
                }
            }
        }
    }
}

// 分页尾部 start
// 分页 end